# Archivos consola edicion temprana
app.py

# Archivos consola edicion temprana con rich
apprich.py


# Archivos para insertar datos en lae base de datos
insertar.py

# Archivos para insertar datos en lae base de datos
src/modules/operaciones.py

#Consultas
src/modules/consultas.py